* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-primary: #0084FD;
    --bg-primary-light: #B5DDFF;
    --bg-secondary: #9792E3;
    --bg-yellow:#FDC05F;
    --bg-footer: #333333;
    --bg-white: white;
}

/* SELECTORS TAGS */

header {
    background-color: var(--bg-primary);
}
footer {
    background-color: var(--bg-footer);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
img {
    max-width: 100%;
}

/* CLASSES TAGS */

/*  common classes */

.section {
    padding: 2rem 0;
}
.container {
    width: 990px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}
.bg-primary {
    background-color: var(--bg-primary);
}
.bg-primary-light {
    background-color: var(--bg-primary-light);
}
.bg-secondary {
    background-color: var(--bg-secondary);
}
.bg-white{
    background-color: var(--bg-white);
}
.d-flex {
    display: flex;
}
.wrapping {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.btn {
    padding: .75rem .5rem;
    border-radius: 30px;
}
.btn-lg {
    padding: 1rem 1.5rem;
}
.btn-white {
    background-color: white;
    color: black;
}
.btn-white-secondary {
    background-color: white;
    color: var(--bg-secondary);
}
.btn-primary {
    background-color: var(--bg-primary);
}
.btn-secondary {
    background-color: var(--bg-secondary);
}
.btn-secondary-black {
    background-color: var(--bg-secondary);
    color: black;
}
.col-1 {
    flex-basis: calc((100% / 3) - 1rem);
}
.col-2 {
    flex-basis: calc((100%/3)*2);
}
.col-3 {
    flex-basis: 100%;
}
.border-radius-10 {
    border-radius: 10px;
}
.border-radius-20 {
    border-radius: 20px;
}
.gap-1{
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.card {
    padding: 1rem .75rem;


    text-align: center;
}
/* Padding and margin */
.padding-tb1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padding-lr-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
/* header */

.navbar ul li a {
    padding: .75rem 1.25rem;
    display: inline-block;
}
/* main */

.card-description, .card-image {
    flex-basis: 50%;
}

/* footer */